.search-container {
  width: 90%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px dashed rgb(85, 130, 228);
}

.search-title {
  font-size: x-large;
  color: red
}